body {
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #FFFFFF;
  font-family: "Josefin Slab";
  font: 18px/23px "Cantarell", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h1 {
  color: #000000;
  text-align: center;
  font-size: 60px;
}
main {
  flex: 1 0 auto;
}
.home {
  min-height: 100vh;
  background-image: url('/img/cover.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  font-size: 0.7em;
}
